{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>

    {% include 'core/header.html' %}
    <section class="hero" style="background: url('{% static 'assets/imgs/background2.jpg' %}') no-repeat center center/cover;">
        <h1>Categories</h1>
    </section>
    <h2>Showing {{categories.count}} results:</h2>   

    <section class="product-container">
    
        {% for c in categories %}

        <div class="product-card">
            <a href = "{% url 'core:category-product-list' c.categoryid %}">
            <img src="{{c.image.url}}" alt="">
            </a>
            <h2>{{c.title}}</h2>    
            <div>{{c.category.count}} Product{{c.category.count|pluralize}}</div>
        </div>
        {% endfor %}
    </section>

    <footer class="footer">
        <p>&copy; 2024 E-Store. All rights reservesadasd.</p>
    </footer>
    {% include 'core/dropdown.html' %}

</body>

</html>