<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funrnizza Shopping Center</title>
    <link rel="stylesheet" type='text/css' href="{% static 'assets/css/general.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


 <header>
        <h1>Furnizza</h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/home/">Home</a></li>
                <li>
                    <a href="#" id="category-link">Category⇩</a>
                    <ul class="dropdown" id="category-dropdown">
                        {% for c in categories %}
                        <li><a href="{% url 'core:category-product-list' c.categoryid %}">{{c.title}}</a></li>
                        {% endfor %}
                        <hr>
                        <li><a href = "{% url 'core:category-list' %}">All Categories</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'core:product-list' %}">Shop</a></li>
                <li>
                    <a href="#" id="vendors-link">Vendors⇩</a>
                    <ul class="dropdown" id="vendors-dropdown">
                        {% for v in vendors %}
                        <li><a href="{% url 'core:vendor-detail' v.vendorid %}">{{v.title}}</a></li>
                        {% endfor %}
                        <hr>
                        <li><a href = "{% url 'core:vendor-list' %}">All Vendors</a></li>
                    </ul>
                </li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
                <li><a href="http://127.0.0.1:8000/contact">Contact</a></li>
                <li>
                    <a href="#" id="account-link">
                        <img src="{% static 'assets/imgs/accountLogo.png' %}" alt="Account" class="logo">
                    </a>
                    <ul class="dropdown" id="account-dropdown">
                        <li><a href="http://127.0.0.1:8000/user/profile">View Profile</a></li>
                        <li><a href="{% url 'userauths:sign-out' %}">Sign-out</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="cart-link">
                        <img src="{% static 'assets/imgs/cart-logo.jpg' %}" alt="cart" class="logo">
                    </a>
                    <ul class="dropdown" id="cart-dropdown">
                        <li><a href="{% url 'core:cart' %}">View Cart</a></li>
                        <li><a href="{% url 'core:checkout' %}">Checkout</a></li> 
                    </ul>
                 </li>
                    <span class="cart-items-count">{{request.session.cart_data_obj|length}}</span>
            </ul>
        </nav>
        <form action="{}" method="GET" style="display: flex; margin-top: 10px;">
            
        </form> 
        <script src = "{% static 'assets/js/function.js' %}"></script>
    </header>