{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funrnizza Shopping Center</title>  
    
</head>

<body>

    {% include 'core/header.html' %}

    <main>
    <section class="hero" style="background: url('{% static 'assets/imgs/background2.jpg' %}') no-repeat center center/cover;">
        <h1>  Welcome to Furnizza Furniture Shopping Center!</h1>
    </section>
    <a>Don't have an account?</a><a href="{% url 'userauths:sign-up' %}" class = "button"> Register</a>
    <br>
    <a>Already have an account? </a><a href="{% url 'userauths:sign-in' %}" class = "button"> Log in</a>
    </main>

    
    <footer class="footer">
        <p>&copy; 2024 Furnizza - All rights reserved</p>
    </footer>
    {% include 'core/dropdown.html' %}

</body>

</html>