<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funrnizza Shopping Center</title>
    <link rel="stylesheet" type='text/css' href="{% static 'assets/css/general.css' %}"> 

</head>

<body>
    {% include 'core/header.html' %}

    <h2>{{product.title}}</h2>
    <p>{{product.category}}</p>
    <p>by {{product.vendor}}</p>
    <p>    -{{product.get_percentage|floatformat:0}}%</p>
    <hr>
    <div>
    <img src="{{product.image.url}}" alt="">
    
            <span>RON</span> <span class ="current-product-price-{{product.id}}">{{product.price}}</span>
            <input type="number" value="1" name = "" id = "product-quantity" class = "product-quantity-{{product.id}}" >
            <input type = "hidden" class = "product-prodid-{{product.id}}" value="{{product.prodid}}">
            <input type = "hidden" class = "product-image-{{product.id}}" value="{{product.image.url}}">
            <input type = "hidden" class="product-id-{{product.id}}" value = "{{product.id}}">
            <input type = "hidden" class="product-title-{{product.id}}" value = "{{product.title}}">
            <button class = "add add-to-cart-btn" data-index="{{ product.id }}" id = "add-to-cart-btn">Add</a>


    </div>
    <h4>Delivery</h4>
    <p>🏠︎{{address.street}}, {{address.city}}, {{address.zipCode}}, {{address.country}}
        <br>
        {% if address.status == True %}
        ✔️Verified Address
        {% else %}
        ❌Unverified Address
        {% endif %}
    </p>
    <hr>

    <h4>Vendor: {{product.vendor.title}}</h4>
    <p>📞{{product.vendor.contact}}</p>
    <p>🏠︎{{product.vendor.address}}</p>
    <p>Rating: {{product.vendor.rating}}/100</p>
    <p>Shipping On Time: {{product.vendor.shippingOnTime}}/100</p>
    <p>Chat Response Time: {{product.vendor.ChatRespTime}}/100 </p>

    <hr>
    <p>{{product.description}}</p>
    <hr>
    <p>{{product.specifications}}</p>

    <h3>Reviews({{reviews.count}}) {{average_rating.rating|floatformat}} out of 5</h3>
    {% for r in reviews%}
    <hr>
    <a>👨🏻‍💼{{r.user.username|title}}</a>
    <a>{{r.rating}}</a>
    <a>- {{r.date|date:"d M, Y"}}</a>
    <p>{{r.comment}}</p>
    {% endfor %}
    <h4>Add a review</h4>
    <form class = "comment-form" action = "{% url 'core:ajax-add-review' product.prodid %}" id = "commentForm" method = "POST">
    {% csrf_token %}
    {{review_form.comment}}
    {{review_form.rating}}
    </form>
    <p>
    <a href="#" class="button">Submit review</a>
    </p>
    {% if products %}
    <h3>Related Products</h3>
    {% endif %}
    <hr>
    <section class="product-container">
    
        {% for p in products %}

        <div class="product-card">
            <a href = "{% url 'core:product-detail' p.prodid %}">
            <img src="{{p.image.url}}" alt="">
            </a>
            <h4>{{p.category.title}}</h4>
            <a href = "{% url 'core:product-detail' p.prodid %}">
            <h2>{{p.title}}</h2>
            </a>
           RON <span>{{p.price}}</span>
            <p>by: {{p.vendor.title}}</p>
            <a href="#" class="button">Add to cart</a>
        </div>
        {% endfor %}
    </section>
    
<script>
      $(document).ready(function () {
            console.log("ready!");

            $(".add-to-cart-btn").on("click", function () {
                let this_val = $(this);
                let index = this_val.attr("data-index")

                let quantity = $(".product-quantity-"+ index).val();
                let product_title = $(".product-title-" + index).val()
                let product_id = $(".product-id-" + index).val();
                let product_price = $(".current-product-price-" + index).text();
                let product_prodid = $(".product-prodid-" + index).val();
                let product_image = $(".product-image-"+index).val()

                console.log("Quantity:", quantity);
                console.log("Title:", product_title);
                console.log("Price:", product_price);
                console.log("ID:", product_id);
                console.log("prodID:", product_prodid);
                console.log("Image:", product_image);
                console.log("Index:", index);
                console.log("Current element:", this_val);
                $.ajax({
                    url: '/add-to-cart',
                    data:{
                        'id' : product_id,
                        'prodid' : product_prodid,
                        'image' : product_image,
                        'quantity' : quantity,
                        'title' : product_title,
                        'price' : product_price,
                    },
                    dataType: 'json',
                    beforeSend: function(){
                        console.log("Adding Product to Cart..."); 
                    },
                    success: function(response){
                        this_val.html("added")
                        console.log("Added Product to Cart...");
                        $(".cart-items-count").text(response.totalcartitems)
                    }
            });
        });
        })
    </script>
    
    <footer class="footer">
        <p>&copy; 2024 Furnizza. All rights reserved.</p>
    </footer>
    {% include 'core/dropdown.html' %}
</body>

</html>
